body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Evita barras de rolagem */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
}

.baseboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
    z-index: 2;
    background-image: url(./images/notícias%20TV.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    position: absolute;
    bottom: -18px;
    width: calc(145% - 654px);
    height: 50px;
    background: rgba(0, 0, 0, 0.0);
    overflow: hidden;
    z-index: 2;
    left: 197px;
}

.moving-text {
    width: 800px;
    position: absolute;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
    color: white;
    animation: moveText 25s linear infinite;
    left: 200px;
    bottom: 27px;
}

.title {
    z-index: 2;
    position: fixed;
    color: white;
    font-size: 24px;
    bottom: 28px;
    left: 117px;
    width: 68%;
    justify-content: center;
    display: flex;
    height: 90px;
}

h4 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: white;
}

@keyframes moveText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}